body {
    background-color: rgb(182, 142, 142);
    background-color: 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: indigo;
   
}

.punainen {color: #f00;}
.musta {color:black; background-color: crimson;}

#sininen {color: rgb(174, 228, 26);}


